@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap");
/* font-family: 'Alex Brush', cursive;
font-family: 'Roboto', sans-serif; 
font-family: 'Poppins', sans-serif;*/
:root {
    --primaryColor: #de4313;
    --primaryColorLight: rgba(222, 67, 19, 0.1);
    --grayColor: #e9e9e9;
    --grayDarkColor: #333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    font-size: 16px;
}
#root {
    display: flex;
    justify-content: center;
    align-items: center;
}
.active {
    background-color: var(--primaryColor);
    color: white;
}
.avatar-sm {
    width: 35px !important;
    height: 35px !important;
    border-radius: 50%;
}
.avatar-sm img {
    max-width: 35px;
    border-radius: 50%;
}
.avatar-lg {
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;
}
.avatar-lg img {
    max-width: 150px;
    border-radius: 50%;
}
button {
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}
@media (max-width: 642px) {
    .avatar-sm {
        width: 20px !important;
        height: 20px !important;
    }
    .avatar-sm img {
        max-width: 20px;
    }
    body {
        font-size: 12px;
    }
}
