.profile {
    margin-top: 50px;
    width: 50%;
    margin-bottom: 50px;
}
.profileheader {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 0 20px 0;
    margin-bottom: 16px;
    border-bottom: 2px solid var(--primaryColor);
}
.profileUserData {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.profileUserData .userName {
    font-size: 20px;
}
.profileUserData .slogan {
    font-size: 14px;
}
.profileUserData .email {
    font-size: 14px;
}
.buttonEditUser {
    padding: 2px 20px;
    background: #fff;
    color: var(--primaryColor);
    border: none;
    outline: none;
    transition: all 0.2s linear;
    border: 1px solid var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    width: fit-content;
}
.buttonEditUser:hover {
    color: #fff;
    background: var(--primaryColor);
}
